#OSX
#-------------------------------------------------------------------------------
.DS_STORE


#General
#-------------------------------------------------------------------------------
node_modules
/lib
*.tsx
yarn.lock
package-lock.json
/dist
